<div class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow">
 
  <!-- Titulo -->
  <h1 class="text-3xl font-bold text-gray-900 mb-6">
    Lista Alumnos
  </h1>
 
  <form [formGroup]="formulario">
    <!-- Matricula -->
    <div class="mb-5">
      <label for="matricula" class="block mb-2 text-sm font-medium text-gray-900">
        Matrícula
      </label>
 
      <input
        type="text"
        id="matricula"
        name="matricula"
        formControlName="matricula"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Matrícula"
      >
 
      <div *ngIf="formulario.get('matricula')?.touched && formulario.get('matricula')?.errors?.['required']" class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        Este campo es requerido.
      </div>
    </div>

    <!-- Nombre -->
    <div class="mb-5">
      <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900">
        Nombre
      </label>
 
      <input
        type="text"
        id="nombre"
        name="nombre"
        formControlName="nombre"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Nombre"
      >
 
      <div *ngIf="formulario.get('nombre')?.touched && formulario.get('nombre')?.errors?.['required']" class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        Este campo es requerido.
      </div>
    </div>

    <!-- Correo -->
    <div class="mb-5">
      <label for="correo" class="block mb-2 text-sm font-medium text-gray-900">
        Correo
      </label>
 
      <input
        type="text"
        id="correo"
        name="correo"
        formControlName="correo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Correo"
      >
 
      <div *ngIf="formulario.get('correo')?.touched && formulario.get('correo')?.errors?.['required']" class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        Este campo es requerido.
      </div>
    </div>

    <!-- Materia -->
    <div class="mb-5">
      <label for="materia" class="block mb-2 text-sm font-medium text-gray-900">
        Materia
      </label>
 
      <input
        type="text"
        id="materia"
        name="materia"
        formControlName="materia"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Materia"
      >
 
      <div *ngIf="formulario.get('materia')?.touched && formulario.get('materia')?.errors?.['required']" class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        Este campo es requerido.
      </div>
    </div>
 
    <!-- Botones -->
    <div class="mb-5">
      <div class="flex justify-end mt-5 gap-3">
        <button
          type="button"
          (click)="muestraAlumno()"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5"
        >
          Registrar
        </button>
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5"
        >
            Cargar
        </button>
      </div>
    </div>
  </form>

  <!-- Extraer Datos -->
  <h2 class="mb-4 text-2xl font-bold text-gray-900">Lista Alumnos</h2>
  <h3>Matrícula: {{nuevoAlumno.matricula}}</h3>
  <h3>Nombre: {{nuevoAlumno.nombre}}</h3>
  <h3>Correo: {{nuevoAlumno.correo}}</h3>
  <h3>Materia: {{nuevoAlumno.materia}}</h3>
</div>